anytree
appdirs
Brotli
certifi
chardet
click
colorama
cycler
dahuffman
dash
dash_core_components
dash_html_components
dash_renderer
dash_table
Flask
Flask-Compress
Flask-Failsafe
idna
itsdangerous
Jinja2
jsonschema
kiwisolver
MarkupSafe
numpy
opencv-python
packaging
pandas
pickleshare
plotly
pyarrow
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests
retrying
six
tornado
urllib3
virtualenv
Werkzeug
matplotlib